* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      }
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;

    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .green-tick {
        width: 100px;
        height: 100px;
    }

    button {
        padding: 10px;
        margin: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        background-color: #27ae60;
        color: white;
    }

    button:hover {
        background-color: green;
        scale: 1.1;
    }


    .bike {
        position: absolute;
        margin-top: 200px;
        left: -300px;
        width: 150px;
        animation: moveBike 4s linear infinite;
    }

    h2 {
        margin-top: 220px;
    }
    a {
        text-decoration: none;
        color: white;
    }

    @keyframes moveBike {
        0% {
            left: -300px;
        }
        100% {
            left: 70%;
        }
    }