* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.image {
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    width: 110px;
}


.inp {
    margin-left: 350px;
    outline: none;
    margin-top: -50px;
    
}

 

.anchor {
    margin-left: 100px;
    margin-top: 0px;
}